<div class="row">
    <div style="min-width: 300px" class="col-2">
        <div class="input-group flex-nowrap">
            <span [ngClass]="{'search-color': themeColor !== true}" class="input-group-text" id="addon-wrapping"><i
                    class="bi bi-search"></i></span>
            <input #search (input)="searchEmployee($event)" type="search" [ngClass]="onInputClass(themeColor)"
                placeholder="Search Employee" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
    </div>
</div>