<main [ngClass]="onBackgroundClass(true)">
    <form [ngClass]="onBackgroundClass()" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="row g-3">
        <h1 [ngStyle]="onColorChanged('color')" class="display-6 text-center pb-2">{{authStatus()}}
            <i class="bi bi-person-fill-lock"></i>
        </h1>
        <div ngModelGroup="userData" #userData="ngModelGroup">
            <div *ngIf="!registered" class="mb-3 col-auto">
                <input type="text" ngModel name="username" #username="ngModel" [ngClass]="onInputClass()"
                    placeholder="Username" required minlength="2">
                <small *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                    <span *ngIf="username.errors?.['required']">Username is required</span>
                    <span *ngIf="username.errors?.['minlength']">Username must be at least
                        {{username.errors?.['minlength'].requiredLength}} characters</span>
                </small>
            </div>
            <div class="mb-3 col-auto">
                <input type="email" ngModel name="email" #email="ngModel" [ngClass]="onInputClass()" placeholder="Email"
                    email required minlength="6">
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <span *ngIf="email.errors?.['required']">Email is required</span>
                    <span *ngIf="email.errors?.['email']">Incorrect email pattern</span>
                </small>
            </div>
            <div class="mb-3 col-auto">
                <input ngModel name="password" #password="ngModel" required minlength="8" maxlength="12" type="password"
                    [ngClass]="onInputClass()" placeholder="Password">
                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <span *ngIf="password.errors?.['required']">Password is required</span>
                    <span *ngIf="password.errors?.['minlength']">Password must be at least
                        {{password.errors?.['minlength'].requiredLength}} characters</span>
                </small>
            </div>
        </div>
        <div [ngStyle]="onColorChanged('color')" *ngIf="registered" class="col-auto form-check">
            <input [ngModel]=" false" #checkbox="ngModel" required type="checkbox" name="checkbox" type="checkbox"
                class="form-check-input" id="exampleCheck1">
            <label *ngIf="!checkbox.control.value; else check" class="form-check-label" required for="exampleCheck1">
                Im not a robot</label>
            <ng-template #check>
                You are verified
            </ng-template>
        </div>
        <div class="col-auto">
            <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary mb-3">{{authStatus()}}</button>
        </div>
        <p class="text-danger text-center" *ngIf="errorStatus"><strong>{{errorMsg}}</strong></p>
        <small [ngStyle]="onColorChanged('color')" style="cursor: pointer;" (click)="authMode()"
            class="text-body-secondary">{{authStatus(true)}}</small>
    </form>
</main>