<div class="table-responsive">
    <table [ngClass]="{'table-dark': themeColor !== true}" class="table table-hover mt-4 ">
        <thead *ngIf="users && users.length > 0 ; else errorMsg">
            <tr>
                <th>No.</th>
                <th *ngIf="users?.[0]?.full || urlStatus('employees')">Full name</th>
                <th *ngIf="users?.[0]?.last_name || urlStatus('customers')">First name</th>
                <th *ngIf="users?.[0]?.first_name || urlStatus('customers')">Last name</th>
                <th>Phone</th>
                <th>Email</th>
                <th *ngIf="users?.[0]?.birthday || urlStatus('employees')">Birthday</th>
            </tr>
        </thead>

        <ng-template #errorMsg>
            <div class="alert alert-dark" role="alert">
                There are no registered customers available
            </div>
        </ng-template>

        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <th>
                    <div class="d-flex">
                        <span>{{i + 1}}</span>
                        <div *ngIf="icons" class="d-inline ps-3 ">
                            <i style=" cursor: pointer;" [ngClass]=eyeToggle(i) (click)="onDetail(user,i)"></i>
                            <i style="cursor: pointer;" class="bi bi-pencil" (click)="onEdit(user)"></i>
                            <i style="cursor: pointer;" class="bi bi-trash" (click)="onDelete(user)"></i>
                        </div>
                    </div>
                </th>
                <td *ngIf="user['first_name']">{{user['first_name']}}</td>
                <td *ngIf="user['last_name']">{{user['last_name']}}</td>
                <td *ngIf="user.full">{{user.full}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td *ngIf="user.birthday">{{user.birthday| date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>