<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th *ngIf="items![0].first" scope="col">First Name</th>
            <th *ngIf="items![0].last" scope="col">Last Name</th>
            <th *ngIf="items![0].full" scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th *ngIf="items![0].birthday" scope="col">Birthday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <th scope="row">{{1}}
                <ng-content></ng-content>
            </th>
            <td *ngIf="item.first">{{item.first}}</td>
            <td *ngIf="item.last">{{item.last}}</td>
            <td *ngIf="item.full">{{item.full}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td *ngIf="item.birthday">{{item.birthday}}</td>
        </tr>
    </tbody>
</table>