<!-- <table class="table table-hover my-5">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Birthday</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{1}}
            </th>
            <td>Mark Otto</td>
            <td>Din@Gmail.com</td>
            <td>24/05/1968</td>
            <td>050-352-3245</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">{{1}}
            </th>
            <td>Mark Otto</td>
            <td>Din@Gmail.com</td>
            <td>24/05/1968</td>
            <td>050-352-3245</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">{{1}}
            </th>
            <td>Mark Otto</td>
            <td>Din@Gmail.com</td>
            <td>24/05/1968</td>
            <td>050-352-3245</td>
        </tr>
    </tbody>
</table> -->

<app-table [item]="item"></app-table>