<form [formGroup]="addForm.customerForm" (ngSubmit)="onSubmit()" class="row g-2">
    <div class="col">
        <input formControlName="first" type="text" class="form-control" placeholder="First name">
        <customers-error [errorMsg]="getError('first')"></customers-error>
    </div>
    <div class="col">
        <input formControlName="last" type="text" class="form-control" placeholder="Last name">
        <customers-error [errorMsg]="getError('last')"></customers-error>
    </div>
    <div class="col">
        <input formControlName="phone" type="tel" class="form-control" placeholder="Phone">
        <customers-error [errorMsg]="getError('phone')"></customers-error>
    </div>
    <div class="col">
        <input formControlName="email" type="email" class="form-control" placeholder="Email">
        <customers-error [errorMsg]="getError('email')"></customers-error>
    </div>
    <div class="col">
        <button [disabled]="addStatus" type="submit" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add Customer
        </button>
    </div>
</form>